#root
  h1#title United States Educational Attainment
  div#description Percentage of adults age 25 and older with a bachelor's degree or higher (2010 - 2014)
  svg
  #source Source 
    a(
      href='https://www.ers.usda.gov/data-products/county-level-data-sets/download-data.aspx'
      target='_blank') 
      | USDA Economic Research Service